<style type="text/css" href="mystyle.css" />


body {
				margin:0;
     }


.header{ 
	    			background-color: #EDEDEE;
				 height:295px;
			 }
.logo_box{ 
	      		 background-image:url('templates/images/people_hub.png');
	      		 width:164px;
				 height:128px;
				 position:absolute;
				 left:300px;
				 top:17px;
				 border-top-right-radius:5px;
				 border-bottom-right-radius:5px;
				 border-top-left-radius:5px;
				 border-bottom-left-radius:5px;
				
		}


.but_prnt{
			margin-left: 1140px;
			width:50px;
			height:22px;	
}

.logout{ 
				margin-left: 20px;
				float:left;
				top:79px;
				left:9px;	
	   	 }
.hello { 
				margin-left: 20px;
				top:79px;
				left:80px;	
				float: left;
	   	 }

.content{ 
          	background-color: #EDEDEE;
						
       	}	      
.login{ 
				width:366px;
				height:258px;	
			}

.top{ 
			background-color:#0A6184;
			width:366px;
			height:20px;	
		}

.form_lbl{ 
						float: left;
						margin-left: 20px;
						width: 30%;
					}

.form_field{ 
						 float: left;
   					 width: 30%;
					 }
					
.submit{
				 bottom:450px;
				 /*position: absolute;*/
				 float:right;
				 right: 500px; 
			 }
		
.logback{ 
					background-color:#A0A0A4;
					width:366px;
					height:220px;	
				}
				
.logerror{ 
	         bottom:450px;
				 	 right: 570px; 
				 }

	ul{ 
	    background-color:#81AEC0;
			margin: 40px 0 0 0;
			padding:0;
			border-bottom: 1px solid #A9010C;
			list-style:none;
			width:130px;
			position:absolute;
			left:50px;
			top:-22px;
	}
	 
li{
	  padding:2px 10px;
		border-top:1px solid #000;
		border-left:1px solid #000;
		border-right:1px solid #000;
		border-bottom: 1px solid #A9010C;
	}
	
li:hover{  
						background-color:#A0A0A4;
				}


.reg_container{ 
								width:366px;
							}
							
.reg_back{
	         background-color:#A0A0A4;
					 width:366px;
					 height:220px;	
				 }

.reg_button{
						 bottom:450px;
						 right: 500px; 
					 }
					 
.reg_caption{ 
							 bottom:480px;
							 right: 500px; 
						 }
			
			 		
.register{
					 background-color:#E0FFFF;
					 background-position:center;
         }

.result{
	     		background-color:#CFBEB6;
	   	 }
.counter{ 
					position:fixed;
					top:1px;
					left:40px;  
				}

.counter2{
					 background-color:#800000;
					 background-position:center;
         }
 
	
.searching{ 
            background-color:#A00;
		    		background-position:center;
		  		} 

	   
	   
.footer{ 
					border-top:1px solid gray;
					clear: both;
					color: #9EC1CF;
					font-size: 11px;
					text-align: center;
				}

.leftcontent {
	float: left;
	width: 180px;
}
.rightcontent {
	float: right;
	width: 1020px;
	margin-bottom:30px;
}

.tooltip {
					background-color:#000;
					border:1px solid #fff;
					padding:10px 15px;
					width:300px;
					display:none;
					color:#fff;
					text-align:center;
					font-size:12px;
					font-family: Tahoma, Geneva, sans-serif;
				
					/* outline radius for mozilla/firefox only */
					-moz-box-shadow:0 0 10px #000;
					-webkit-box-shadow:0 0 10px #000;
					}
	
</style>